In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data = pd.read_csv('crime_analysis.csv')

data

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson
0,American River College,95250,0,0,1,2,3,2,6,8,0
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11
2,Ashford University,74596,0,0,2,0,0,0,1,0,0
3,Auburn University,25469,0,0,1,0,2,0,22,3,0
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0
5,Ball State University,44294,0,0,8,0,1,0,31,0,0
6,Boston University,64878,0,0,6,0,2,3,60,2,0
7,Brigham Young University-Provo,170505,0,0,0,0,0,1,10,3,4
8,Broward College,379782,0,0,0,0,3,2,6,10,0
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1
11,California State University-Fullerton,144624,0,0,0,0,1,7,6,14,0
12,California State University-Long Beach,34870,0,0,3,0,3,1,24,5,0
13,California State University-Los Angeles,21284,0,0,1,0,3,2,5,24,0
14,California State University-Northridge,36911,0,0,1,0,5,6,34,15,0
15,California State University-Sacramento,28016,0,0,2,0,3,0,12,4,5
16,Capella University,36375,0,0,0,0,0,0,0,0,0
17,Central Michigan University,28194,0,0,5,0,1,2,15,1,1
18,Central New Mexico Community College,166062,0,0,3,0,0,9,3,4,0
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0
20,Cerritos College,21335,0,0,1,0,1,1,3,16,0
21,City College of San Francisco,34558,0,0,1,0,4,1,7,4,0
22,College of DuPage,157254,0,0,0,0,2,0,5,0,1
23,College of Southern Nevada,113151,0,0,2,0,2,0,1,3,0
24,Collin County Community College District,82779,0,0,0,0,0,0,4,0,0
25,Colorado State University-Fort Collins,30467,0,0,4,0,1,0,16,1,3
26,Columbia University in the City of New York,104200,0,0,4,0,1,4,25,0,1
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0
28,Community College of Allegheny County,81720,0,0,0,0,1,0,2,1,0
29,Cornell University,21131,0,0,7,0,0,0,13,0,2
...,...,...,...,...,...,...,...,...,...,...,...
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0
201,University of North Texas,75636,0,0,2,0,0,1,24,3,0
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2
203,University of Oregon,73188,0,0,8,0,0,3,35,3,0
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1
205,University of Pittsburgh-Pittsburgh Campus,28766,0,0,4,0,5,3,25,2,0
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0
207,University of South Florida-Main Campus,39596,0,0,1,0,1,8,48,9,0
208,University of Southern California,342090,0,0,8,0,5,1,50,4,2
209,University of Toledo,67830,0,0,2,0,1,4,118,0,4
210,University of Utah,31660,0,0,5,0,0,3,90,0,0
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0
212,University of Washington-Seattle Campus,42444,0,0,5,0,3,3,40,1,0
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1
214,University of Wisconsin-Milwaukee,29350,0,0,3,0,0,0,39,0,1
215,Utah State University,26757,0,0,3,0,0,0,12,1,0
216,Utah Valley University,33395,0,0,3,0,0,0,7,5,0
217,Valencia College,341048,0,0,0,0,0,2,1,3,0
218,Virginia Commonwealth University,94881,0,0,6,0,3,5,15,4,0
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0
220,Walden University,48982,0,0,0,0,0,0,0,0,0
221,Washington State University,109316,0,0,8,0,0,2,28,5,0
222,Wayne County Community College District,122640,0,0,1,0,0,0,0,5,0
223,Wayne State University,123060,0,0,2,0,3,2,18,8,2
224,Weber State University,25301,0,0,2,0,0,0,11,0,0
225,West Virginia University,29617,0,0,4,0,1,7,22,4,1
226,Western Kentucky University,126216,0,0,5,0,3,2,32,1,0
227,Western Michigan University,250860,0,0,3,1,0,2,13,1,2

In [7]:
data[data.instname == 'University of Missouri-Columbia']

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson
195,University of Missouri-Columbia,33762,0,0,11,0,1,8,10,1,1

In [15]:
data.sort_values('murder', ascending=False)[:10]

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson
133,San Jose State University,60472,2,0,3,0,2,13,24,13,4
164,University of Arizona,39236,1,0,3,0,0,0,43,6,2
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0
183,University of Illinois at Chicago,84273,1,0,9,0,6,8,14,0,0
0,American River College,95250,0,0,1,2,3,2,6,8,0
155,The University of Texas at El Paso,22640,0,0,5,0,1,3,28,21,0
145,Tarrant County College District,300372,0,0,0,0,0,1,1,8,0
146,Temple University,294840,0,0,4,0,4,4,5,0,0
147,Texas A & M University-College Station,100460,0,0,3,0,1,0,29,3,1
148,Texas State University-San Marcos,68174,0,0,3,0,1,5,44,3,1

In [16]:
data.sort_values('forcible', ascending=False)[:10]

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson
166,University of California-Berkeley,72274,0,0,30,1,9,7,40,14,6
107,Ohio State University-Main Campus,56867,0,0,28,0,7,0,22,8,6
167,University of California-Davis,63464,0,0,24,0,5,4,86,13,1
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1
116,Pennsylvania State University-Main Campus,45628,0,0,24,0,2,6,112,1,11
65,Harvard University,54784,0,0,21,0,1,7,28,3,0
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11
56,George Washington University,202080,0,0,16,0,1,4,45,2,1
91,Michigan State University,191300,0,0,15,0,1,10,77,9,0
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0

In [18]:
data.sort_values('forcible', ascending=False)[:30]

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson
166,University of California-Berkeley,72274,0,0,30,1,9,7,40,14,6
107,Ohio State University-Main Campus,56867,0,0,28,0,7,0,22,8,6
167,University of California-Davis,63464,0,0,24,0,5,4,86,13,1
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1
116,Pennsylvania State University-Main Campus,45628,0,0,24,0,2,6,112,1,11
65,Harvard University,54784,0,0,21,0,1,7,28,3,0
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11
56,George Washington University,202080,0,0,16,0,1,4,45,2,1
91,Michigan State University,191300,0,0,15,0,1,10,77,9,0
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0
193,University of Michigan-Ann Arbor,42716,0,0,14,0,4,8,37,12,4
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0
101,Northern Arizona University,25359,0,0,13,0,3,5,35,2,1
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2
191,University of Massachusetts Amherst,28084,0,0,13,0,1,5,32,1,0
142,Stony Brook University,23920,0,0,13,0,2,2,96,7,2
194,University of Minnesota-Twin Cities,105114,0,0,12,0,5,2,45,6,0
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1
181,University of Hawaii at Manoa,40858,0,0,12,0,2,16,64,16,0
123,Rutgers University-New Brunswick,39950,0,0,12,0,0,5,65,7,3
144,Syracuse University,145803,0,0,12,0,0,4,36,0,1
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1
195,University of Missouri-Columbia,33762,0,0,11,0,1,8,10,1,1
109,Oklahoma State University-Main Campus,48780,0,0,11,0,0,1,45,1,0
69,Indiana University-Bloomington,42731,0,0,11,0,3,12,89,18,3
179,University of Florida,99178,0,0,10,0,1,6,27,14,0
185,University of Iowa,119240,0,0,10,0,0,6,20,2,0
174,University of Cincinnati-Main Campus,66658,0,0,9,0,5,4,15,7,1
41,East Carolina University,54772,0,0,9,0,4,2,17,2,0
183,University of Illinois at Chicago,84273,1,0,9,0,6,8,14,0,0

In [19]:
data["total_count"] = data["murder"] + data["manslaughter"] + data["forcible"]\
  + data["nonforce"] + data["robbery"] + data["agg_aslt"] + data["burglary"]\
  + data['vehicle'] + data["arson"]

data[:5]

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
0,American River College,95250,0,0,1,2,3,2,6,8,0,22
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11,174
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,3
3,Auburn University,25469,0,0,1,0,2,0,22,3,0,28
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,3

In [33]:
data["total_count"] = (data["murder"] + data["manslaughter"] + data["forcible"]\
  + data["nonforce"] + data["robbery"] + data["agg_aslt"] + data["burglary"]\
  + data['vehicle'] + data["arson"])

data

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
0,American River College,95250,0,0,1,2,3,2,6,8,0,22
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11,174
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,3
3,Auburn University,25469,0,0,1,0,2,0,22,3,0,28
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,3
5,Ball State University,44294,0,0,8,0,1,0,31,0,0,40
6,Boston University,64878,0,0,6,0,2,3,60,2,0,73
7,Brigham Young University-Provo,170505,0,0,0,0,0,1,10,3,4,18
8,Broward College,379782,0,0,0,0,3,2,6,10,0,21
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0,47
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1,57
11,California State University-Fullerton,144624,0,0,0,0,1,7,6,14,0,28
12,California State University-Long Beach,34870,0,0,3,0,3,1,24,5,0,36
13,California State University-Los Angeles,21284,0,0,1,0,3,2,5,24,0,35
14,California State University-Northridge,36911,0,0,1,0,5,6,34,15,0,61
15,California State University-Sacramento,28016,0,0,2,0,3,0,12,4,5,26
16,Capella University,36375,0,0,0,0,0,0,0,0,0,0
17,Central Michigan University,28194,0,0,5,0,1,2,15,1,1,25
18,Central New Mexico Community College,166062,0,0,3,0,0,9,3,4,0,19
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0,1
20,Cerritos College,21335,0,0,1,0,1,1,3,16,0,22
21,City College of San Francisco,34558,0,0,1,0,4,1,7,4,0,17
22,College of DuPage,157254,0,0,0,0,2,0,5,0,1,8
23,College of Southern Nevada,113151,0,0,2,0,2,0,1,3,0,8
24,Collin County Community College District,82779,0,0,0,0,0,0,4,0,0,4
25,Colorado State University-Fort Collins,30467,0,0,4,0,1,0,16,1,3,25
26,Columbia University in the City of New York,104200,0,0,4,0,1,4,25,0,1,35
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0,1
28,Community College of Allegheny County,81720,0,0,0,0,1,0,2,1,0,4
29,Cornell University,21131,0,0,7,0,0,0,13,0,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0,92
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1,58
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0,83
201,University of North Texas,75636,0,0,2,0,0,1,24,3,0,30
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2,55
203,University of Oregon,73188,0,0,8,0,0,3,35,3,0,49
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1,44
205,University of Pittsburgh-Pittsburgh Campus,28766,0,0,4,0,5,3,25,2,0,39
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0,146
207,University of South Florida-Main Campus,39596,0,0,1,0,1,8,48,9,0,67
208,University of Southern California,342090,0,0,8,0,5,1,50,4,2,70
209,University of Toledo,67830,0,0,2,0,1,4,118,0,4,129
210,University of Utah,31660,0,0,5,0,0,3,90,0,0,98
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0,84
212,University of Washington-Seattle Campus,42444,0,0,5,0,3,3,40,1,0,52
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1,65
214,University of Wisconsin-Milwaukee,29350,0,0,3,0,0,0,39,0,1,43
215,Utah State University,26757,0,0,3,0,0,0,12,1,0,16
216,Utah Valley University,33395,0,0,3,0,0,0,7,5,0,15
217,Valencia College,341048,0,0,0,0,0,2,1,3,0,6
218,Virginia Commonwealth University,94881,0,0,6,0,3,5,15,4,0,33
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0,51
220,Walden University,48982,0,0,0,0,0,0,0,0,0,0
221,Washington State University,109316,0,0,8,0,0,2,28,5,0,43
222,Wayne County Community College District,122640,0,0,1,0,0,0,0,5,0,6
223,Wayne State University,123060,0,0,2,0,3,2,18,8,2,35
224,Weber State University,25301,0,0,2,0,0,0,11,0,0,13
225,West Virginia University,29617,0,0,4,0,1,7,22,4,1,39
226,Western Kentucky University,126216,0,0,5,0,3,2,32,1,0,43
227,Western Michigan University,250860,0,0,3,1,0,2,13,1,2,22

In [25]:
data["total_count"] = data["total_enr"] / (data["murder"] + data["manslaughter"] + data["forcible"]\
  + data["nonforce"] + data["robbery"] + data["agg_aslt"] + data["burglary"]\
  + data['vehicle'] + data["arson"])

data

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
0,American River College,95250,0,0,1,2,3,2,6,8,0,4.329545e+03
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11,1.661011e+03
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,2.486533e+04
3,Auburn University,25469,0,0,1,0,2,0,22,3,0,9.096071e+02
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,3.608000e+05
5,Ball State University,44294,0,0,8,0,1,0,31,0,0,1.107350e+03
6,Boston University,64878,0,0,6,0,2,3,60,2,0,8.887397e+02
7,Brigham Young University-Provo,170505,0,0,0,0,0,1,10,3,4,9.472500e+03
8,Broward College,379782,0,0,0,0,3,2,6,10,0,1.808486e+04
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0,4.490851e+02
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1,3.856316e+02
11,California State University-Fullerton,144624,0,0,0,0,1,7,6,14,0,5.165143e+03
12,California State University-Long Beach,34870,0,0,3,0,3,1,24,5,0,9.686111e+02
13,California State University-Los Angeles,21284,0,0,1,0,3,2,5,24,0,6.081143e+02
14,California State University-Northridge,36911,0,0,1,0,5,6,34,15,0,6.050984e+02
15,California State University-Sacramento,28016,0,0,2,0,3,0,12,4,5,1.077538e+03
16,Capella University,36375,0,0,0,0,0,0,0,0,0,inf
17,Central Michigan University,28194,0,0,5,0,1,2,15,1,1,1.127760e+03
18,Central New Mexico Community College,166062,0,0,3,0,0,9,3,4,0,8.740105e+03
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0,8.098500e+04
20,Cerritos College,21335,0,0,1,0,1,1,3,16,0,9.697727e+02
21,City College of San Francisco,34558,0,0,1,0,4,1,7,4,0,2.032824e+03
22,College of DuPage,157254,0,0,0,0,2,0,5,0,1,1.965675e+04
23,College of Southern Nevada,113151,0,0,2,0,2,0,1,3,0,1.414388e+04
24,Collin County Community College District,82779,0,0,0,0,0,0,4,0,0,2.069475e+04
25,Colorado State University-Fort Collins,30467,0,0,4,0,1,0,16,1,3,1.218680e+03
26,Columbia University in the City of New York,104200,0,0,4,0,1,4,25,0,1,2.977143e+03
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0,2.473680e+05
28,Community College of Allegheny County,81720,0,0,0,0,1,0,2,1,0,2.043000e+04
29,Cornell University,21131,0,0,7,0,0,0,13,0,2,9.605000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0,3.149674e+02
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1,5.023621e+02
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0,3.045422e+02
201,University of North Texas,75636,0,0,2,0,0,1,24,3,0,2.521200e+03
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2,4.934182e+02
203,University of Oregon,73188,0,0,8,0,0,3,35,3,0,1.493633e+03
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1,3.386182e+03
205,University of Pittsburgh-Pittsburgh Campus,28766,0,0,4,0,5,3,25,2,0,7.375897e+02
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0,2.104178e+02
207,University of South Florida-Main Campus,39596,0,0,1,0,1,8,48,9,0,5.909851e+02
208,University of Southern California,342090,0,0,8,0,5,1,50,4,2,4.887000e+03
209,University of Toledo,67830,0,0,2,0,1,4,118,0,4,5.258140e+02
210,University of Utah,31660,0,0,5,0,0,3,90,0,0,3.230612e+02
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0,1.735500e+03
212,University of Washington-Seattle Campus,42444,0,0,5,0,3,3,40,1,0,8.162308e+02
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1,6.453231e+02
214,University of Wisconsin-Milwaukee,29350,0,0,3,0,0,0,39,0,1,6.825581e+02
215,Utah State University,26757,0,0,3,0,0,0,12,1,0,1.672312e+03
216,Utah Valley University,33395,0,0,3,0,0,0,7,5,0,2.226333e+03
217,Valencia College,341048,0,0,0,0,0,2,1,3,0,5.684133e+04
218,Virginia Commonwealth University,94881,0,0,6,0,3,5,15,4,0,2.875182e+03
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0,7.279059e+03
220,Walden University,48982,0,0,0,0,0,0,0,0,0,inf
221,Washington State University,109316,0,0,8,0,0,2,28,5,0,2.542233e+03
222,Wayne County Community College District,122640,0,0,1,0,0,0,0,5,0,2.044000e+04
223,Wayne State University,123060,0,0,2,0,3,2,18,8,2,3.516000e+03
224,Weber State University,25301,0,0,2,0,0,0,11,0,0,1.946231e+03
225,West Virginia University,29617,0,0,4,0,1,7,22,4,1,7.594103e+02
226,Western Kentucky University,126216,0,0,5,0,3,2,32,1,0,2.935256e+03
227,Western Michigan University,250860,0,0,3,1,0,2,13,1,2,1.140273e+04

ValueError: No axis named total_count for object type <class 'pandas.core.frame.DataFrame'>

In [34]:
data["total_count"] = (data["murder"] + data["manslaughter"] + data["forcible"]\
  + data["nonforce"] + data["robbery"] + data["agg_aslt"] + data["burglary"]\
  + data['vehicle'] + data["arson"]) / data["total_enr"]

data

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
0,American River College,95250,0,0,1,2,3,2,6,8,0,0.000231
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11,0.000602
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,0.000040
3,Auburn University,25469,0,0,1,0,2,0,22,3,0,0.001099
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,0.000003
5,Ball State University,44294,0,0,8,0,1,0,31,0,0,0.000903
6,Boston University,64878,0,0,6,0,2,3,60,2,0,0.001125
7,Brigham Young University-Provo,170505,0,0,0,0,0,1,10,3,4,0.000106
8,Broward College,379782,0,0,0,0,3,2,6,10,0,0.000055
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0,0.002227
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1,0.002593
11,California State University-Fullerton,144624,0,0,0,0,1,7,6,14,0,0.000194
12,California State University-Long Beach,34870,0,0,3,0,3,1,24,5,0,0.001032
13,California State University-Los Angeles,21284,0,0,1,0,3,2,5,24,0,0.001644
14,California State University-Northridge,36911,0,0,1,0,5,6,34,15,0,0.001653
15,California State University-Sacramento,28016,0,0,2,0,3,0,12,4,5,0.000928
16,Capella University,36375,0,0,0,0,0,0,0,0,0,0.000000
17,Central Michigan University,28194,0,0,5,0,1,2,15,1,1,0.000887
18,Central New Mexico Community College,166062,0,0,3,0,0,9,3,4,0,0.000114
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0,0.000012
20,Cerritos College,21335,0,0,1,0,1,1,3,16,0,0.001031
21,City College of San Francisco,34558,0,0,1,0,4,1,7,4,0,0.000492
22,College of DuPage,157254,0,0,0,0,2,0,5,0,1,0.000051
23,College of Southern Nevada,113151,0,0,2,0,2,0,1,3,0,0.000071
24,Collin County Community College District,82779,0,0,0,0,0,0,4,0,0,0.000048
25,Colorado State University-Fort Collins,30467,0,0,4,0,1,0,16,1,3,0.000821
26,Columbia University in the City of New York,104200,0,0,4,0,1,4,25,0,1,0.000336
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0,0.000004
28,Community College of Allegheny County,81720,0,0,0,0,1,0,2,1,0,0.000049
29,Cornell University,21131,0,0,7,0,0,0,13,0,2,0.001041
...,...,...,...,...,...,...,...,...,...,...,...,...
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0,0.003175
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1,0.001991
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0,0.003284
201,University of North Texas,75636,0,0,2,0,0,1,24,3,0,0.000397
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2,0.002027
203,University of Oregon,73188,0,0,8,0,0,3,35,3,0,0.000670
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1,0.000295
205,University of Pittsburgh-Pittsburgh Campus,28766,0,0,4,0,5,3,25,2,0,0.001356
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0,0.004752
207,University of South Florida-Main Campus,39596,0,0,1,0,1,8,48,9,0,0.001692
208,University of Southern California,342090,0,0,8,0,5,1,50,4,2,0.000205
209,University of Toledo,67830,0,0,2,0,1,4,118,0,4,0.001902
210,University of Utah,31660,0,0,5,0,0,3,90,0,0,0.003095
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0,0.000576
212,University of Washington-Seattle Campus,42444,0,0,5,0,3,3,40,1,0,0.001225
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1,0.001550
214,University of Wisconsin-Milwaukee,29350,0,0,3,0,0,0,39,0,1,0.001465
215,Utah State University,26757,0,0,3,0,0,0,12,1,0,0.000598
216,Utah Valley University,33395,0,0,3,0,0,0,7,5,0,0.000449
217,Valencia College,341048,0,0,0,0,0,2,1,3,0,0.000018
218,Virginia Commonwealth University,94881,0,0,6,0,3,5,15,4,0,0.000348
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0,0.000137
220,Walden University,48982,0,0,0,0,0,0,0,0,0,0.000000
221,Washington State University,109316,0,0,8,0,0,2,28,5,0,0.000393
222,Wayne County Community College District,122640,0,0,1,0,0,0,0,5,0,0.000049
223,Wayne State University,123060,0,0,2,0,3,2,18,8,2,0.000284
224,Weber State University,25301,0,0,2,0,0,0,11,0,0,0.000514
225,West Virginia University,29617,0,0,4,0,1,7,22,4,1,0.001317
226,Western Kentucky University,126216,0,0,5,0,3,2,32,1,0,0.000341
227,Western Michigan University,250860,0,0,3,1,0,2,13,1,2,0.000088

In [37]:
data[(data.total_enr >= 10000) & (data.total_count < 5)].sort_values('total_count')

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
77,Kaplan University-Davenport Campus,56606,0,0,0,0,0,0,0,0,0,0.000000
122,Rio Salado College,251090,0,0,0,0,0,0,0,0,0,0.000000
16,Capella University,36375,0,0,0,0,0,0,0,0,0,0.000000
220,Walden University,48982,0,0,0,0,0,0,0,0,0,0.000000
143,Suffolk County Community College,107148,0,0,0,0,0,0,0,0,0,0.000000
47,Excelsior College,35608,0,0,0,0,0,0,0,0,0,0.000000
38,DeVry University-Illinois,279210,0,0,0,0,0,0,0,0,0,0.000000
157,Thomas Edison State College,20251,0,0,0,0,0,0,0,0,0,0.000000
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,0.000003
190,University of Maryland-University College,256278,0,0,0,0,1,0,0,0,0,0.000004
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0,0.000004
37,Des Moines Area Community College,279675,0,0,0,0,0,1,1,0,0,0.000007
141,St Petersburg College,265024,0,0,0,1,0,0,0,1,0,0.000008
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0,0.000012
82,Lone Star College System,378174,0,0,0,1,1,1,1,1,0,0.000013
74,Johns Hopkins University,209960,0,0,0,0,0,0,1,2,0,0.000014
217,Valencia College,341048,0,0,0,0,0,2,1,3,0,0.000018
137,Sinclair Community College,105530,0,0,0,0,0,0,2,0,0,0.000019
50,Florida State College at Jacksonville,246904,0,0,0,0,1,2,1,1,0,0.000020
73,Ivy Tech Community College-Central Indiana,42092,0,0,0,0,0,0,1,0,0,0.000024
113,Palm Beach State College,117416,0,0,0,0,0,0,0,3,0,0.000026
103,Northern Virginia Community College,300264,0,0,2,0,3,2,1,0,0,0.000027
145,Tarrant County College District,300372,0,0,0,0,0,1,1,8,0,0.000033
66,Hillsborough Community College,141645,0,0,0,0,0,0,4,1,0,0.000035
53,Front Range Community College,82272,0,0,0,0,0,0,0,3,0,0.000036
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,0.000040
67,Houston Community College,1323315,0,0,0,0,1,6,36,14,0,0.000043
58,Georgia Perimeter College,134980,0,0,0,0,2,0,0,4,0,0.000044
158,Tidewater Community College,224707,0,0,0,0,0,0,7,3,0,0.000045
126,Saint Louis Community College,175200,0,0,0,0,0,0,2,5,1,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...
167,University of California-Davis,63464,0,0,24,0,5,4,86,13,1,0.002096
99,North Carolina State University at Raleigh,34767,0,0,7,0,6,9,41,12,0,0.002157
171,University of California-San Diego,28593,0,0,6,0,0,6,29,18,4,0.002203
175,University of Colorado Boulder,32558,0,0,6,0,5,8,42,10,1,0.002211
110,Old Dominion University,24753,0,0,7,0,6,2,34,6,0,0.002222
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0,0.002227
72,Iowa State University,29611,0,0,6,0,1,8,47,2,3,0.002263
123,Rutgers University-New Brunswick,39950,0,0,12,0,0,5,65,7,3,0.002303
101,Northern Arizona University,25359,0,0,13,0,3,5,35,2,1,0.002327
51,Florida State University,41087,0,1,2,0,8,8,67,10,1,0.002361
68,Illinois State University,21310,0,0,2,0,1,21,26,2,1,0.002487
155,The University of Texas at El Paso,22640,0,0,5,0,1,3,28,21,0,0.002562
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1,0.002593
86,Louisiana State University and Agricultural & ...,29718,0,0,2,0,9,9,47,10,3,0.002692
181,University of Hawaii at Manoa,40858,0,0,12,0,2,16,64,16,0,0.002692
172,University of California-Santa Barbara,21685,0,0,7,1,1,3,40,4,3,0.002721
112,Oregon State University,24962,0,0,3,0,1,3,36,28,1,0.002884
165,University of Arkansas,23199,0,0,5,0,1,2,46,16,0,0.003017
130,San Diego State University,30541,0,0,6,0,2,4,42,39,0,0.003045
210,University of Utah,31660,0,0,5,0,0,3,90,0,0,0.003095
162,University at Buffalo,28849,0,0,3,0,3,4,73,6,1,0.003120
170,University of California-Riverside,20900,0,0,5,0,4,1,32,23,1,0.003158
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0,0.003175
69,Indiana University-Bloomington,42731,0,0,11,0,3,12,89,18,3,0.003183
89,Metropolitan State College of Denver,23789,0,0,1,0,0,2,66,7,0,0.003195
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0,0.003284
116,Pennsylvania State University-Main Campus,45628,0,0,24,0,2,6,112,1,11,0.003419
169,University of California-Los Angeles,39271,0,0,8,0,2,4,118,7,0,0.003540
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0,0.004752
142,Stony Brook University,23920,0,0,13,0,2,2,96,7,2,0.005100

In [43]:
data["total_count"] = data["forcible"] + data["nonforce"]
data.sort_values("total_count")
data

,instname,total_enr,murder,manslaughter,forcible,nonforce,robbery,agg_aslt,burglary,vehicle,arson,total_count
0,American River College,95250,0,0,1,2,3,2,6,8,0,3
1,Arizona State University,289016,0,0,17,1,11,27,90,17,11,18
2,Ashford University,74596,0,0,2,0,0,0,1,0,0,2
3,Auburn University,25469,0,0,1,0,2,0,22,3,0,1
4,Austin Community College District,1082400,0,0,0,0,0,1,2,0,0,0
5,Ball State University,44294,0,0,8,0,1,0,31,0,0,8
6,Boston University,64878,0,0,6,0,2,3,60,2,0,6
7,Brigham Young University-Provo,170505,0,0,0,0,0,1,10,3,4,0
8,Broward College,379782,0,0,0,0,3,2,6,10,0,0
9,California State Polytechnic University-Pomona,21107,0,0,7,0,2,0,23,15,0,7
10,California State University-Fresno,21981,0,0,1,0,0,7,29,19,1,1
11,California State University-Fullerton,144624,0,0,0,0,1,7,6,14,0,0
12,California State University-Long Beach,34870,0,0,3,0,3,1,24,5,0,3
13,California State University-Los Angeles,21284,0,0,1,0,3,2,5,24,0,1
14,California State University-Northridge,36911,0,0,1,0,5,6,34,15,0,1
15,California State University-Sacramento,28016,0,0,2,0,3,0,12,4,5,2
16,Capella University,36375,0,0,0,0,0,0,0,0,0,0
17,Central Michigan University,28194,0,0,5,0,1,2,15,1,1,5
18,Central New Mexico Community College,166062,0,0,3,0,0,9,3,4,0,3
19,Central Texas College,80985,0,0,0,0,0,1,0,0,0,0
20,Cerritos College,21335,0,0,1,0,1,1,3,16,0,1
21,City College of San Francisco,34558,0,0,1,0,4,1,7,4,0,1
22,College of DuPage,157254,0,0,0,0,2,0,5,0,1,0
23,College of Southern Nevada,113151,0,0,2,0,2,0,1,3,0,2
24,Collin County Community College District,82779,0,0,0,0,0,0,4,0,0,0
25,Colorado State University-Fort Collins,30467,0,0,4,0,1,0,16,1,3,4
26,Columbia University in the City of New York,104200,0,0,4,0,1,4,25,0,1,4
27,Columbus State Community College,247368,0,0,0,0,0,0,1,0,0,0
28,Community College of Allegheny County,81720,0,0,0,0,1,0,2,1,0,0
29,Cornell University,21131,0,0,7,0,0,0,13,0,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...
198,University of New Mexico-Main Campus,28977,0,0,2,0,4,10,19,57,0,2
199,University of North Carolina at Chapel Hill,29137,0,0,12,0,3,3,36,3,1,12
200,University of North Carolina at Charlotte,25277,0,0,2,0,6,1,65,9,0,2
201,University of North Texas,75636,0,0,2,0,0,1,24,3,0,2
202,University of Oklahoma Norman Campus,27138,0,0,13,0,0,1,29,10,2,13
203,University of Oregon,73188,0,0,8,0,0,3,35,3,0,8
204,University of Pennsylvania,148992,0,0,12,0,9,2,19,1,1,12
205,University of Pittsburgh-Pittsburgh Campus,28766,0,0,4,0,5,3,25,2,0,4
206,University of South Carolina-Columbia,30721,0,0,1,0,2,8,113,22,0,1
207,University of South Florida-Main Campus,39596,0,0,1,0,1,8,48,9,0,1
208,University of Southern California,342090,0,0,8,0,5,1,50,4,2,8
209,University of Toledo,67830,0,0,2,0,1,4,118,0,4,2
210,University of Utah,31660,0,0,5,0,0,3,90,0,0,5
211,University of Virginia-Main Campus,145782,0,0,13,0,1,0,54,16,0,13
212,University of Washington-Seattle Campus,42444,0,0,5,0,3,3,40,1,0,5
213,University of Wisconsin-Madison,41946,0,0,24,0,2,3,32,3,1,24
214,University of Wisconsin-Milwaukee,29350,0,0,3,0,0,0,39,0,1,3
215,Utah State University,26757,0,0,3,0,0,0,12,1,0,3
216,Utah Valley University,33395,0,0,3,0,0,0,7,5,0,3
217,Valencia College,341048,0,0,0,0,0,2,1,3,0,0
218,Virginia Commonwealth University,94881,0,0,6,0,3,5,15,4,0,6
219,Virginia Polytechnic Institute and State Unive...,371232,1,0,14,0,0,3,30,3,0,14
220,Walden University,48982,0,0,0,0,0,0,0,0,0,0
221,Washington State University,109316,0,0,8,0,0,2,28,5,0,8
222,Wayne County Community College District,122640,0,0,1,0,0,0,0,5,0,1
223,Wayne State University,123060,0,0,2,0,3,2,18,8,2,2
224,Weber State University,25301,0,0,2,0,0,0,11,0,0,2
225,West Virginia University,29617,0,0,4,0,1,7,22,4,1,4
226,Western Kentucky University,126216,0,0,5,0,3,2,32,1,0,5
227,Western Michigan University,250860,0,0,3,1,0,2,13,1,2,4

In [ ]:
# Story Idea:
# 1. Schools with the highest crimes per capita
#    1. University of South Carolina-Columbia 0.004752
#    2. University of North Carolina at Charlotte 0.003284
#    3. University of New Mexico-Main Campus 0.003175
#    4. University of Utah 0.003095
#    5. California State University-Fresno 0.002593
# 2. Schools with no crimes reported, despite their size.
# 3. Highest number of sexual assaults (forcible and nonforce) 
#    1. University of Wisconsin-Madison 24
#    2. Arizona State University 18
#    3. Virginia Polytechnic Institute and State University 14
#    4. University of Washington-Seattle Campus 13
#    5. University of Oklahoma Norman Campus 13